#stopwatch body {
    height: 100vh;
    margin: 40px 0px 0px 0px;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  
#stopwatch .display {
    display: flex;
    left: 50%;
    align-items: center;
    justify-content: center;
    font-family: "nunito", "poppins", sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: black;
  }
  
  #stopwatch p {
    margin: 5px;
  }

div {
  border: solid;
  position: sticky;
}

.hrow {
font-weight:bold;
color: #000000;
}

.hrow td{
padding-top: 20px;
width: 140px;
}
