body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}


.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}


.tabcontent {
  color: black;
  display: none;
  padding: 100px 490px;
  height: 100%;
  border-top-width: 2px;
  border-top-style: solid;
  margin-top: 150px;
  border-left-width: 2px;
  border-left-style: solid;
  margin-left: 5px;
  border-right-width: 2px;
  border-right-style: solid;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  margin-bottom: 150px;
}

#footer {
  position : absolute;
  top : 500px;
  height : 40px;
  margin-top : 40px;
  right: 5px;
  left: 5px;
}

td, th {
  border: solid #000000;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: max-content;
}
